$search-box-height: 36px;
$search-box-width: 290px;

.page.product-list {


     
    .search-load-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        height: 60px;

        .search-box {
            height: $search-box-height;
            width: $search-box-width;
            border: 2px solid rgb(219, 219,219);
            border-radius: 5px;
            padding: 0px 5px 0px 5px;
        }

        .spinner {
            margin-top: 0px;
            .ellipsis {
                height: 60px;
            }
        }
    }
}

