$left-panel-content-color: rgb(245, 245,245);
$isrequired-astrisk: rgb(245, 0, 0);
$section-border-color: rgb(239,239,239);

.product {
    margin-top: 50px;
    display: flex;

    .left-panel {
        flex-basis: 25%;
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        .content {
            flex: 0 0 400px;

            .add-varient-btn-wrapper {
                display: flex;
                justify-content: space-around;

                .add-varient-btn {
                    flex-basis: 80%;
                }
            }

            .edit-varient-btn {
                color: black;
                background-color: transparent;
                border: 2px solid red;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            

            ul {
                padding: 0px;
                list-style: none;
                display: flex;
                flex-direction: column;
                padding-left: 20px;

                li {
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;
                    text-align: center;
                    font-size: 18px;
                    flex-basis: 1 1 70px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    cursor: pointer;
                    &.selected {
                        background-color: white;
                    }

                    .error-indicator {
                        color: red;
                        font-size: 12px;
                        margin-top: 10px;
                        display: inline-block;
                    }
                }
            }

            &.multiple-varient {
                background-color: $left-panel-content-color;
            }
        }
    }

    .right-panel {
        flex-basis: 70%;

        .section {

            &.file-drop{
                border: 3px black;
                border-style: dashed;
                background-color: #FDF4DC;
            }

            &.invalid {
                border-color: red;
            }

            border: 2px solid $section-border-color;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 25px;
    
            .header-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;

                .product-active-status {
                    display: flex;
                    span {
                        margin-left: 15px;
                    }
                }
            }
        
            h2 {
                margin: 0px;
            }
        
            &.text-section {
                input, textarea {
                    width: 100%;
                }
        
                .two-col-container {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 25px;
        
                    .col-left, .col-right {
                        flex: 0 1 40%;
                        display: flex;
                        flex-direction: column;
                        
                    }
                }
            }
        
            &.media-section {
                .uploaded-files {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    min-height: 50px;
                }

                .tag {
                    height: 16px;
                }

                .close-preview {
                    float: right;
                    color: white;
                    font-size: 27px;
                    font-weight: bold;
                    position: relative;
                    top: -33px;
                    left: -20px;
                    cursor: pointer;
                }

                .image-tag-cross {
                    position: absolute;
                    top: -12px;
                    background-color: wheat;
                    left: 45px;
                    border-radius: 11px;
                    padding-left: 3px;
                    padding-right: 3px;
                    font-size: 11px;
                    cursor: pointer;
                }

                .media-upload-controls {
                    text-align: center;
                    .upload-controls {
                        display: flex;
                        justify-content: center;
                        margin-top: 15px;
                    }
                }
            }
    
            &.faq-section {
                .faq {
                    margin-bottom: 10px;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    border: 2px solid;
                    padding: 10px;
                    border: 2px solid #efefef;
                    border-radius: 10px;
                    justify-content: space-around;
    
                    .qa {
                        display: flex;
                        flex-basis: 90%;
                        flex-direction: column;
    
                        input, textarea {
                            width: 100%;
                            margin-bottom: 10px;
                            border: 0px;
                            border-radius: 0px;
                        }
    
                        textarea:focus, input:focus{
                            outline: none;
                        }
    
                        input {
                            border-bottom: 1px solid black;
                        }
    
                        margin-right: 10px;
                    }
    
                    .delete-icon-wrapper {
                        .delete-icon {
                            cursor: pointer;
                        }
                    }
                }
    
                .add-faq-button-wrapper {
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 25px;
                }
            }
        
            .isrequired-astrisk {
                color: $isrequired-astrisk;
            }
        }
    }

    
}